head{
  height: 75px;
  width: 100%;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #3f445a;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  
}
body{
  background-color: #2a2d3e;
}
.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-flex;
  transform: translate(50px, -60px);
  margin-left: 5px;
  background-color: blue;
}
.dot.red {
  background-color: #ed7172;
}
.dot.yellow {
  background-color: #fdc264;
}
.dot.green {
  background-color: #6cd962;
}
h1{
  transform: translate(350px, -140px);
  color:#666877;
  font-style:italic;
  font-size: 50px;
}

h1:hover{
  animation: animate-size 2.5s linear infinite;
  animation-direction: alternate;
  background-image: linear-gradient(to right,#fdad81,#ff2c53,red,#fdad81);
  background-clip:text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size:200%;
  position:relative;
}
h1:hover::before{
  content:"hover everything";
  position:absolute;
  top:0%;
  width:100%;
  height:100%;
  -webkit-background-clip: text;
  animation: animate-size 2.5s linear infinite;
  background-image: linear-gradient(to right,#fdad81,#ff2c53,red,#fdad81);
  background-size:200%;
  filter: blur(20px);
}

@keyframes animate-size {
  to{
    background-position:200%;
  }
  
}

.flip-card {
  background-color: transparent;
  width: 200px;
  height: 200px;
  perspective: 1000px;
}


.flip-card:hover .box2 {
  transform: rotateY(1260deg);
}

.box2, .box6 {
  position: relative;
  
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}



.box{
  border-radius: 25px;
  height: 200px;
  width: 400px;
  background:#666877;
  text-align: center;
  font-size: 40pt;
  margin:50px;
}
.box:hover{
  animation: animate-size 2.5s linear infinite;
  background-image: linear-gradient(to right,#88d7fd,#756ffb,#88d7fd);
  background-size:200%;
  position:relative;
}
.box:hover::before{
  content:"hover everything";
  position:absolute;
  top:0%;
  width:100%;
  height:100%;
  transform: translate(-130px);
  animation: animate-size 2.5s linear infinite;
  background-image: linear-gradient(to bottom right,#88d7fd,#756ffb,#88d7fd);
  background-size:200%;
  filter: blur(20px);
  z-index:-1;
}

.box1{
  height: 200px;
  width: 400px;
  background:#666877;
  text-align: center;
  font-size: 40pt;
  border-radius: 25px;
  margin:50px;
}

@property --angle{
  syntax: '<angle>';
  inherits:false;
  initial-value: 0deg;
}

.box1:hover{
  position:relative;
  width:400px;
  height:200px;
  background-image: repeating-conic-gradient(from var(--angle), transparent, #ff5e00, transparent, #0088ff,transparent, red, transparent);
  animation: animate 4s linear infinite;
}
.box1:hover::before{
  content: '';
  position:absolute;
  width:100%;
  height:100%;
  transform: translate(-210px,-8px);
  background-image: repeating-conic-gradient(from var(--angle), transparent, #ff5e00, transparent, #0088ff,transparent, red, transparent);
  animation: animate 4s linear infinite;
  padding:10px;
  z-index:-1;
  border-radius:25px;
}

@keyframes animate{
  0%{ 
    --angle: 0deg;
  }
  100%{ 
    --angle: 360deg;
  }
}

.box2{
  height: 200px;
  width: 400px;
  background-image: linear-gradient(to bottom right,#fdad81,#ff2c53);
  text-align: center;
  font-size: 40pt;
  border-radius: 25px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin:50px;
}

.box3{
  height: 200px;
  width: 400px;
  background-image: linear-gradient(to bottom right,#fe84c4,#5d15b7);
  text-align: center;
  font-size: 40pt;
  border-radius: 25px;
  margin:50px;
}

.box4{
  height: 200px;
  width: 400px;
  background-image: linear-gradient(to bottom right,#81ffde,#22fd66);
  text-align: center;
  font-size: 40pt;
  border-radius: 25px;
  margin:50px;
}

.box5{
  height: 200px;
  width: 400px;
  background-image: linear-gradient(to bottom right, #ff5900,#81ffed);
  text-align: center;
  font-size: 40pt;
  border-radius: 25px;
  margin:50px;
}

.box6{
  height: 200px;
  width: 400px;
  margin-top:-60px;
  background-image: linear-gradient(to bottom right, #5b5b5b,#d70000);
  text-align: center;
  font-size: 40pt;
  border-radius: 25px;
  transform: rotateY(1260deg);
}