body {
    background-color: powderblue;
  }
head {
    background-color: grey;
  }
  title {
    color:aqua;
  }
  p6 {
    color:green;
  }
  h1 {
    color: blue;
  }
  h2 {
    color: red;
  }
  
