head{
  height: 200px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border: 8px solid black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

}

body{
  background-color: rgb(13, 10, 40);
  border: 8px solid black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 100px;
  margin-bottom: 200px;
}


.box{
  border-radius: 25px;
  height: 200px;
  width: 200px;
  background-image: linear-gradient(to bottom right,#b3b8fb,rgb(83, 126, 255),blue);
  text-align: center;
  font-size: 40pt;
}


.box1{
  height: 200px;
  width: 400px;
  background-image: linear-gradient(to bottom right,rgb(255, 212, 131),rgb(255, 196, 0),orange);
  text-align: center;
  font-size: 40pt;
  border-radius: 25px;
}

.box2{
  height: 200px;
  width: 400px;
  background-image: linear-gradient(to bottom right,#ff6c6c,#ff5900, red);
  text-align: center;
  font-size: 40pt;
  border-radius: 25px;
}

.box3{
  height: 200px;
  width: 400px;
  background-image: linear-gradient(to right,rgb(255, 184, 255),rgb(207, 134, 255),purple);
  text-align: center;
  font-size: 40pt;
  border-radius: 25px;
  
}

.box4{
  height: 200px;
  width: 400px;
  background-image: linear-gradient(to bottom right,rgb(221, 255, 221),rgb(134, 253, 162), rgb(0, 255, 0));
  text-align: center;
  font-size: 40pt;
  border-radius: 25px;
  
}

.box5{
  height: 200px;
  width: 200px;
  background-image: linear-gradient(to bottom right, rgb(233, 254, 255), rgb(170, 246, 255));
  text-align: center;
  font-size: 40pt;
  border-radius: 25px;
}

